<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcakes</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <h1>List of cupcakes:</h1>

    <ul id="cupcake-list">
    </ul>

    <form action="" id="form">
        <label for="flavor">Flavor:</label>
        <input type="text" id="flavorInput" name="flavor" placeholder="Cupcake's flavor">
        <br>
        <label for="size">Size:</label>
        <input type="text" id="sizeInput" name="size" placeholder="Cupcake's size">
        <br>
        <label for="rating">Rating:</label>
        <input type="text" id="ratingInput" name="rating" placeholder="Cupcake's rating">
        <br>
        <label for="image">Image:</label>
        <input type="text" id="imageInput" name="image" placeholder="Cupcake's image URL">
        <br>
        <button type="submit">Add your cupcake</button>
    </form>














    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/static/script.js"></script>
</body>
</html>